.films-homepage-card {
    border: 2px solid rgb(235, 235, 235);
    background-color: rgba(35, 35, 35, 0.5);
    border-radius: 15px;
    padding: 1% 1% 2.5% 2%;
    margin: 1.5% 2.5%;
    width: 35%;
    text-align: left;
    transition: all 0.3s ease-in-out;
    color: rgb(230, 230, 230);
}

.films-homepage-card:hover {
    box-shadow: 
    4px 4px 3px #fcffbc, 4px 4px 13px #e8e8e8;
}

.films-fav-card {
    border: 2px solid #FFF961;
    background-color: rgba(35, 35, 35, 0.7);
    border-radius: 15px;
    padding: 1% 1% 2.5% 2%;
    margin: 1.5% 2.5%;
    width: 35%;
    text-align: left;
    transition: all 0.3s ease-in-out;
    color: #FFF961;
}

.clickable-link {
    cursor: pointer;
}
